name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "api/**"
      - "tests/**"
      - "**.py"
      - "**.toml"
      - "requirements*.txt"
      - ".github/workflows/python-lint.yml"

jobs:
  pyright:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install . '.[dev]' '.[action]'

      - name: Set up pyright
        run: echo "PYRIGHT_VERSION=$(python -c 'import pyright; print(pyright.__pyright_version__)')" >> $GITHUB_ENV

      - name: Run pyright
        uses: jakebailey/pyright-action@v1.3.0
        with:
          version: ${{ env.PYRIGHT_VERSION }}
          python-version: ${{ matrix.python-version }}
          python-platform: Linux
          warnings: true
